{% include "dashboard/dashboard.html" %}
{% load staticfiles %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'db/css/index.basic.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'login/datatables/jquery.dataTables.css' %}">
{% endblock css %}

{% block content %}
<section id="db_sec" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="header-container">
         <header class="common-header">数据库工具</header>
    </div>
    <ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">oracle单机安装工具</a>
	</li>
    <li><a href="#ios" data-toggle="tab">oracle工具</a></li>
    <li><a href="#daily_report" data-toggle="tab">日报工具</a></li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="home">
        <div id="query_container">
{#            <div>Oracle单机安装工具:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="new_dbinstall" type="button" class="btn get" value="本地启动" style="width:80px;margin-left: 20px;background-color: #428bca;color:#FFF"></div>#}
              <div class="box">
                <canvas id="myCanvas" width="1500" height="1100"></canvas>
              </div>
        </div>
	</div>
	<div class="tab-pane fade active" id="ios">
        <div id="query_container">
{#            <div>Oracle巡检工具:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' class="btn get" id="dbcheck" value="本地启动" style="width:80px;margin-left: 20px;background-color: #428bca;color:#FFF"></div>#}
            <div class="box">
                <canvas id="dbcheck_canvas" width="1500" height="1000"></canvas>
            </div>
        </div>
	</div>
    <div class="tab-pane fade active" id="daily_report">
        <div id="query_container">
{#            <div>一键生成日报:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="daily" type='button' class="btn get" value="生成" style="width:80px;margin-left: 20px;background-color: #428bca;color:#FFF"></div>#}
             <div class="box">
                <canvas id="daily_canvas" width="1500" height="1000"></canvas>
              </div>
        </div>
	</div>
</div>


</section>

{% endblock content %}

{% block js %}
<script src="{% static 'oswatch/js/member/dbinstall.js' %}"></script>
<script src="{% static 'oswatch/js/member/drawFlowChart.js' %}"></script>
<script src="{% static 'oswatch/js/member/drawstep.js' %}"></script>
<script src="{% static 'oswatch/js/member/drawdaily.js' %}"></script>
<script src="{% static 'oswatch/js/member/drawdbcheck.js' %}"></script>
{% endblock js %}